@page "/"
@page "/aboutme"
@inject HttpClient Http
    


<section>
    <div class="resume-section-content">
        <h1>Pablo Pelinski</h1>
        <p class="lead mb-3">
            Hi, I'm a passionate software developer based in Buenos Aires, Argentina. With a strong interest in software development, I have built a solid foundation in C#, ASP.NET Core, and SQL. My educational journey at Universidad Nacional de Misiones, where I pursued a Bachelor's degree in Information Systems, has equipped me with theoretical knowledge in algorithms, data structures, and object-oriented programming.

            I am committed to continuous learning and growth in the field of technology, constantly seeking to apply my knowledge to practical projects. My experience includes developing a real-time chat application using Blazor WebAssembly and SignalR, an employee management system with Blazor and Entity Framework, and a simple calculator application with Avalonia.

            I am enthusiastic about exploring new technologies and improving my skills. My GitHub profile showcases a range of projects that demonstrate my capabilities and dedication to software development.

            Feel free to explore my projects and connect with me to discuss potential opportunities or collaborations.
         </p>
    
    <div class="social-icons row justify-content-md-left">
        <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
           href="https://www.linkedin.com/in/pablo-pelinski-8269a9119/">
            <i class="fab fa-linkedin-in"></i>
        </a>
      
        <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://github.com/pelinski46">
            <i class="fa-brands fa-github"></i>
        </a>
        </div>
    </div>
</section>


  

@code {
   
}