@page "/contact"
@inject HttpClient Http



<section>
    <div class="resume-section-content">
        <h1>Contact</h1>
        <p class="lead mb-3">
            Email: <span>pelinski46@gmail.com</span><br>
            Cellphone: <span>+54 3757 444606</span>
        </p>
    </div>
</section>


  

@code {
   
}